body {
    background-color: hsl(233, 47%, 7%);
}

.item {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    justify-items: baseline;
}

.item-1 {
    flex-basis: 400px;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding-left: 3rem;
    padding-top: 2rem;
    height: 35.5vh;
}

.tex {
    color: hsl(277, 64%, 61%);
}

.item-2 {
    flex-basis: 100px;


}

ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    color: hsla(0, 0%, 100%, 0.6);
}

img {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
background: -webkit-linear-gradient(rgba(277, 64%, 61%));

}


.linr {
    line-height: 0.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

h1 {
    line-height: 1rem;
    font-size: xx-large;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.stat {
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 700;

}

li {
    line-height: 0.2rem;
}

.stat-1 {
    font-size: 0.7rem;


}

mark {
    color: hsl(277, 64%, 61%);
    background-color: hsl(244, 38%, 16%);
    font-weight: 700;
}